name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'
          - '1'
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v4
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
  docs:
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - run: |
          julia --project=docs -e '
            using Documenter: doctest
            using OutlierDetection
            doctest(OutlierDetection)'
      - run: julia --project=docs docs/make.jl
        env:
          DATADEPS_ALWAYS_ACCEPT: true
      - run: julia --project=docs docs/deploy.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  versionize:
    needs: docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v6
    - uses: actions/checkout@v6
      with:
        ref: gh-pages
    - run: |
        node -e "var vm=require('vm'),fs=require('fs'),context={},data=fs.readFileSync('./versions.js');vm.runInNewContext(data,context);var result=[];context.DOC_VERSIONS.forEach(function(e){aliases=[],result.push({version:e,title:e,aliases:aliases})}),fs.writeFileSync('./versions.json',JSON.stringify(result));"
    - run: |
        git config user.name "versionize"
        git config user.email "davnn@users.noreply.github.com"
        git add .
        git commit -m "versionize" || echo "No changes to commit"
        git push
